.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center; 
    &__name{
        font-size: 5rem;
        padding-bottom: 2rem;
        margin-top: 1rem;
        border-bottom: 2px solid white;
        margin-bottom: 1rem;
        &--last{
            color: $secondary-color;
            font-weight: 800;
        }
    }
}